name: AutoSync

on:
  schedule:
    - cron: '0 6 * * *' # At 06:00. https://crontab.guru/
  workflow_dispatch:

jobs:
  autosync:
    name: Ryu Cho
    runs-on: ubuntu-latest
    steps:
      - uses: vuejs-translations/ryu-cho@v1
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          username: github-actions
          email: "action@github.com"

          upstream-repo: https://github.com/NoiseFan/vitest-sync-docs.git
          upstream-repo-branch: main

          head-repo: https://github.com/vitest-dev/vitest
          head-repo-branch: main
          track-from: fee7d8be9d6e6f710270600ae91fa35d861b7075
          path-starts-with: docs/
          workflow-name: AutoSync