name: autosync

on:
  schedule:
    - cron: '0 6 * * *' # At 06:00. https://crontab.guru/
  workflow_dispatch:

jobs:
  autosync:
    name: Auto Sync
    runs-on: ubuntu-latest
    steps:
       - name: Set access token output
         id: set-token
         run: echo "AUTO_SYNC_ACCESS_TOKEN= ${{ secrets.AUTO_SYNC_ACCESS_TOKEN }} " >> $GITHUB_OUTPUT
       - uses: TobKed/github-forks-sync-action@master
         with:
          github_token: ${{ secrets.AUTO_SYNC_ACCESS_TOKEN }}
          upstream_repository: vitest-dev/vitest
          upstream_branch: main
          target_repository: NoiseFan/vitest-sync-docs
          target_branch: sync
          force: false
          tags: false
