name: AutoSync

on:
  schedule:
    - cron: '0 6 * * *' # At 06:00. https://crontab.guru/
  workflow_dispatch:

jobs:
  autosync:
    name: AutoSync
    runs-on: ubuntu-latest
    steps:
      - uses: vuejs-translations/ryu-cho@v1
        with:
          access-token: ${{ secrets.ACCESS_TOKEN }}
          username: github-actions
          email: "action@github.com"

          upstream-repo: https://github.com/NoiseFan/vitest-sync-docs.git
          upstream-repo-branch: main

          head-repo: https://github.com/vitest-dev/vitest
          head-repo-branch: main
          track-from: da7ce1712fd4d0e4e807ec01ce755581e6892d5b
          path-starts-with: docs/
          workflow-name: AutoSync