name: autosync

on:
  schedule:
    - cron: '0 6 * * *' # At 06:00. https://crontab.guru/
  workflow_dispatch:
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: TobKed/github-forks-sync-action@master
        with:
          github_token: ${{ secrets.AUTO_SYNC_ACCESS_TOKEN }}
          upstream_repository: vitest-dev/vitest
          upstream_branch: main
          target_repository: NoiseFan/vitest-sync-docs
          target_branch: upstream
          force: false
          tags: false
