name: ryu-cho

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  ryu-cho:
    name: Ryu Cho
    runs-on: ubuntu-latest
    steps:
      - uses: vuejs-translations/ryu-cho@v1
        with:
          access-token: ${{ secrets.GITHUB_TOKEN }}
          username: github-actions
          email: "action@github.com"

          upstream-repo: https://github.com/NoiseFan/vitest-sync-docs.git
          upstream-repo-branch: sync

          head-repo: https://github.com/vitest-dev/vitest
          head-repo-branch: main
          track-from: 555c2a2958aa698cad08d756c5f6ac8917319cb4
          path-starts-with: docs/
          workflow-name: ryu-cho